html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  margin-top: -50px;
  background-color: #abdf5cec;
  width: 100%;
  height: calc(20px + 10vh);
  font-weight: bolder;
}


picture,
source,
img {
    width: 100%;
    height: auto;
}
  